@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Pacifico&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200&family=Pacifico&family=Roboto:wght@100&display=swap');
#part1{
    margin: 10%;
    padding: 0%;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    color: cadetblue;
}
.personal-info{
    margin: 0%;
    padding: 0%;
    padding-top:0%;
    color: black;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
   

}
#part2{
    margin: 10%;
    padding: 0%;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    color: cadetblue;
}
.skills{
    margin: 0%;
    padding: 0%;
    padding-top:0%;
    color: black;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
   

}

